   body {
     background-color:#000;
     color:#FFA500;
     font-family: Tahoma, Geneva, sans-serif;
     font-size:1.2em;
   }
   .stop_designator{
      font-size: 1.5rem;
      font-weight: bolder;
   }
   
   .square {
      background-color: #2ecc71;
      width: 200px;
      height: 200px;
    }
